/*.content {*/
/*    display: grid;*/
/*    width: 100%;*/
/*    align-self: start;*/
/*    padding-bottom: 10vh;*/
/*    --container-width: 1140px;*/
/*    grid-template-columns: minmax(36px, 1fr) min(calc(100% - 72px), var(--container-width)) minmax(0px, calc(1140px - var(--container-width) )) minmax(36px, 1fr);*/
/*}*/


.fg-head > h2{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Inter';
    font-style: normal;
    padding: 20px 0px 20px 20px;
}

.idea-form{

    /*display: grid;*/

    /*align-self: start;*/
    /*padding-bottom: 10vh;*/
    /*--container-width: 1140px;*/
    /*grid-template-columns: minmax(36px, 1fr) min(calc(100% - 72px), var(--container-width)) minmax(0px, calc(1140px - var(--container-width) )) minmax(36px, 1fr);*/


    width: 1200px;
    height: auto;
    margin-left: 10px;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #d4fef0;

    /*position: relative;*/
    /*width: 100%;*/
    /*z-index: 9999;*/
    /*top: 0;*/
    /*left: 0;*/
    /*display: flex;*/

    /*!*width: auto;*!*/
    /*height: 660px;*/
    /*margin-left: 10px;*/
    /*!*padding: 15px 30px;*!*/
    /*border-radius: 15px;*/
    /*background-color: #d4fef0;*/
}
.idea-writeform {

    /*display: grid;*/

    /*align-self: start;*/
    /*padding-bottom: 10vh;*/
    /*--container-width: 1140px;*/
    /*grid-template-columns: minmax(36px, 1fr) min(calc(100% - 72px), var(--container-width)) minmax(0px, calc(1140px - var(--container-width) )) minmax(36px, 1fr);*/


    width: 1200px;
    height: 660px;
    margin-left: 10px;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #d4fef0;
}
.idea-box{
    display: flex;
    width: 1200px;
    height: 290px;
    border-radius: 20px;
    background-color: #ffffff;
}
.idea-img > img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border-radius: 10px;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));
    border-radius: 23px;
}

.idea-info{
    width: 300px;
    height: 230px;
    padding: 10px;
    margin-left: 25px;
}

.idea-content{
    padding: 0px;
    /*원래 0 */
}
.idea-img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 25px;
}

.write-info {
    width: 870px;
    height: 112px;
    padding: 10px;
    background-color: #d4fef0;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 15px;
}
.name-info {
    width: fit-content;
    height: 60px;
    padding: 20px;
    background-color: #d4fef0;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 15px;
}

.content-info {
    width: 500px;
    height: 244px;
    padding: 10px;
    background-color: #d4fef0;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 80px;
    border-radius: 15px;
}
/*write-form {
    width: 300px;
    height: 130px;
    padding: 15px;
    background-color: #d4fef0;
    border-radius: 15px;

    margin-left: 10px;
    border-radius: 15px;*/
/*    */
/*}*/

.write_button {
    color: black;
    margin-left: 800px;
    margin-top: 5px;
    border:0px; border-radius:12px; background-color: #D4FEF0;
    font-size: 11px;
    line-height: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: bold;
    width: 60px;
    padding: 7px;
}
.cancel_button {
    color: black;
    margin-top: 5px;
    border: 0px;
    border-radius: 12px;
    background-color: #D4FEF0;
    font-size: 11px;
    line-height: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: bold;
    width: 60px;
    padding: 7px;
}
