
.bdlistbox{

}
.sh_title{
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}
.sh_img{
    width: 200px;
    height: 150px;
    border-radius: 23px;
}
.itmbox{
    padding: 15px;
}
.p_c{

}
