.fg-head > h1{
    font-size: 35px;
    font-weight: bold;
    padding: 30px 0px 30px 0px;
}

.vote-form{
    width: auto;
    height: 660px;
    margin-left: 10px;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #d4fef0;
}

.vote-box{
    display: flex;
    width: 1200px;
    height: 250px;
    border-radius: 20px;
    background-color: #ffffff;
}

.vote-info{
    width: 300px;
    height: 230px;
    padding: 20px;
}
.vote-info > h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.vote-content{
    padding: 20px;
}
.vote-img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 25px;
}
.vote-img > img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}